body {
  /*background-color:FFFAF2;*/
  /*background-color:#F2EFEB;
  background-image: linear-gradient(to right, #F2EFEB, white);*/
  background: radial-gradient(circle, #E2DDD8, white 60%);
  
  color: black;
	  font-family: 'Didot', 'Optima', 'Palatino', 'Bookman', 'Work Sans','Montserrat','Lora',"Geneva","Times New Roman", Times, serif;
}

.image{
    float: left;
    padding-top: 3%;
    width: 40%
}

.side{
     float: left; 
     width: 60%;
}

.main{
    height: 70%;
    padding-top: 5%;
    width: 50%;
    text-align: center;
    margin: 0 auto;
}

.title{
    color: black;
}

p {
    color: black;
}
